<!DOCTYPE html>
<html>
<head>
    <title><%= property.house_type %> Details</title>
    <link rel="stylesheet" href="../Public//stylesheet/propertydetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <h1><%= property.house_type %> Details</h1>
    <div class="property-details">
        <p><i class="fas fa-map-marker-alt"></i> <%= property.location %></p>
        <p><strong>House Type:</strong> <%= property.house_type %></p>
        <p><strong>Square Footage:</strong> <%= property.sqft %> sqft</p>
        <p><i class="fas fa-bed"></i> <%= property.bedrooms %></p>
        <p><i class="fas fa-bath"></i> <%= property.bathrooms %></p>
        <p><strong>Lot Size:</strong> <%= property.lot_size %> sqft</p>
        <p><i class="fas fa-dollar-sign"></i> KSh<%= property.price %></p>
        <p><strong>Description:</strong> <%= property.description %></p>

        <h3>Uploaded Images</h3>
        <% property.images.forEach((imagePath) => { %>
            <img src="<%= imagePath %>" alt="Uploaded Image">
        <% }); %>
    </div>
</body>
</html>